<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <system.serviceModel>
    <extensions>
      <bindingExtensions>
        <add name="netHttpBinding" type="Thinktecture.ServiceModel.Channels.NetHttpBindingCollectionElement, Thinktecture.ServiceModel"/>
      </bindingExtensions>
    </extensions>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />

    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttp">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType=""/>
          </security>
        </binding>
      </basicHttpBinding>
      <netHttpBinding>
        <binding name="NetHttp">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </netHttpBinding>
    </bindings>

    <services>
      <service name="NetHttpService.Service1">
        <endpoint address="nethttp"
                  binding="netHttpBinding"
                  bindingConfiguration="NetHttp"
                  contract="NetHttpService.IService1"/>
      </service>
    </services>
  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
