<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="ProductCatalogService" behaviorConfiguration="EnableMetadataBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:7777/Services"/>
          </baseAddresses>
        </host>
        <endpoint 
          address="pcs" 
          binding="basicHttpBinding" 
          contract="IProductCatalog" 
          bindingNamespace="http://www.thinktecture.com/samples/services/productcatalog"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="EnableMetadataBehavior">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
