<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>    
    <client>
      <endpoint address="http://localhost:8001/service" binding="basicHttpBinding" contract="IGlobalTestService" name="IGlobalTestService_BasicHttpBinding"/>
      <endpoint address="http://localhost:8002/service" binding="basicHttpBinding" contract="IApplySerializerToAllMethods" name="IApplySerializerToAllMethods_BasicHttpBinding"/>
      <endpoint address="http://localhost:8004/service" binding="basicHttpBinding" contract="IContextService" name="IContextService_BasicHttpBinding"/>
      <endpoint address="http://localhost:8005/service" binding="basicHttpBinding" contract="ILoggingTestService" name="ILoggingTestService_BasicHttpBinding"/>
      <endpoint address="http://localhost:8006/service" binding="basicHttpBinding" contract="ISecurityTestService" name="ISecurityTestService_BasicHttpBinding" />
      <endpoint address="http://localhost:8006/service" binding="basicHttpBinding" contract="IGenericInterface" name="IGenericInterface_BasicHttpBinding" />
    </client>    
    <services>
      <service name="GlobalTestService" behaviorConfiguration="MetadataEnabledService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8001"/>
          </baseAddresses>
        </host>
        <endpoint address="service" binding="basicHttpBinding" contract="IGlobalTestService"/>
      </service>
      <service name="ApplySerializerToAllMethods">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8002"/>
          </baseAddresses>
        </host>
        <endpoint address="service" binding="basicHttpBinding" contract="IApplySerializerToAllMethods" />
      </service>
      <service name="ApplySerializerToSingleMethod">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8003"/>
          </baseAddresses>          
        </host>
        <endpoint address="service" binding="basicHttpBinding" contract="IApplySerializerToSingleMethod" />
      </service>
      <service name="GeneralTestService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8005"/>
            <add baseAddress="net.tcp://localhost:7001"/>
            <add baseAddress="net.pipe://localhost/"/>
          </baseAddresses>
        </host>
        <endpoint address="service" binding="basicHttpBinding" contract="IGeneralTestService" />
        <endpoint address="streamed" binding="basicHttpBinding" contract="IGeneralTestService"  bindingConfiguration="StreamedBasicHttp" />
        <endpoint address="streamedreq" binding="basicHttpBinding" contract="IGeneralTestService" bindingConfiguration="StreamedRequestBasicHttp" />
        <endpoint address="streamedres" binding="basicHttpBinding" contract="IGeneralTestService" bindingConfiguration="StreamedResponseBasicHttp" />
        
        <endpoint address="service" binding="netTcpBinding" contract="IGeneralTestService" />
        <endpoint address="streamed" binding="netTcpBinding" contract="IGeneralTestService"  bindingConfiguration="StreamedTcp" />
        <endpoint address="streamedreq" binding="netTcpBinding" contract="IGeneralTestService" bindingConfiguration="StreamedRequestTcp" />
        <endpoint address="streamedres" binding="netTcpBinding" contract="IGeneralTestService" bindingConfiguration="StreamedResponseTcp" />

        <endpoint address="service" binding="netNamedPipeBinding" contract="IGeneralTestService" />
        <endpoint address="streamed" binding="netNamedPipeBinding" contract="IGeneralTestService"  bindingConfiguration="StreamedPipe" />
        <endpoint address="streamedreq" binding="netNamedPipeBinding" contract="IGeneralTestService" bindingConfiguration="StreamedRequestPipe" />
        <endpoint address="streamedres" binding="netNamedPipeBinding" contract="IGeneralTestService" bindingConfiguration="StreamedResponsePipe" />
     </service>
      <service name="LoggingTestService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8005"/>
          </baseAddresses>
        </host>
        <endpoint address="service" binding="basicHttpBinding" contract="ILoggingTestService"/>
      </service>
      <service name="SecurityTestService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8006"/>
          </baseAddresses>          
        </host>
        <endpoint address="service" binding="basicHttpBinding" contract="ISecurityTestService"/>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="StreamedBasicHttp" transferMode="Streamed"/>
        <binding name="StreamedRequestBasicHttp" transferMode="StreamedRequest"/>
        <binding name="StreamedResponseBasicHttp" transferMode="StreamedResponse"/>        
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="StreamedTcp" transferMode="Streamed"/>
        <binding name="StreamedRequestTcp" transferMode="StreamedRequest"/>
        <binding name="StreamedResponseTcp" transferMode="StreamedResponse"/>
      </netTcpBinding>
      <netNamedPipeBinding>
        <binding name="StreamedPipe" transferMode="Streamed"/>
        <binding name="StreamedRequestPipe" transferMode="StreamedRequest"/>
        <binding name="StreamedResponsePipe" transferMode="StreamedResponse"/>
      </netNamedPipeBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MetadataEnabledService">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>