<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint 
        address="http://localhost:7777/Services/ds" 
        binding="basicHttpBinding" 
        contract="IDummyService" 
        name="BasicHttpBinding_IDummyService"/>
      <endpoint
        address="net.tcp://localhost:7778/Services/ds"
        binding="netTcpBinding"
        contract="IDummyService"
        name="NetTcpBinding_IDummyService"/>
    </client>
    
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
